texttable
base58
ecdsa
python-dateutil
whichcraft
termcolor
PyYAML
docker
docker-compose
psutil
six
ruamel.ordereddict
ruamel.yaml
future
duckietown-challenges-daffy>=5.1.4
zeroconf
dt-authentication-daffy
dt-data-api-daffy
pytz
dockertown>=0.1.1