texttable
base58
ecdsa
python-dateutil
whichcraft
termcolor
PyYAML
docker
psutil
six
ruamel.ordereddict
ruamel.yaml
future
zeroconf

duckietown-challenges-daffy>=6.0.4
dt_authentication # FIXME: add daffy
dt_data_api # FIXME: add daffy
pur # used for aido submissions
aido-utils-daffy # used for aido submissions