termcolor>=2.3.0,<3
requests>=2.31.0,<3
pyyaml!=6.0.0,!=5.4.0,!=5.4.1,<7
pyfiglet>=0.8.0,<1
questionary>=2.0.1,<3
argcomplete>=3.1.4,<4
filelock>=3,<4
dockertown>=0.2.5,<1
dtproject>=1.0.6,<2
dt-authentication>=2.1.4,<3
dt-data-api>=2.0.0,<3